name: wipac ci/cd

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

env:
  py_version: '3.12'

jobs:

  flake8:
    needs: []
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.sha }}  # lock to triggered commit (github.ref is dynamic)
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.py_version }}
      - uses: WIPACrepo/wipac-dev-flake8-action@v1.3
        with:
          max-complexity: 20

  py-setup:
    if: ${{ github.actor != 'dependabot[bot]' }} # dependabot cannot access PAT
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          ref: ${{ github.ref }}  # dont lock to sha (action needs to push)
      - uses: WIPACrepo/wipac-dev-py-setup-action@v5.9
        with:
          mode: PACKAGING
          python_min: 3.11
          python_max: 3.14
          auto_mypy_option: False

  py-versions:
    needs: [py-setup]
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.versions.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.sha }}  # lock to triggered commit (github.ref is dynamic)
      - id: versions
        uses: WIPACrepo/wipac-dev-py-versions-action@v2.8

  pip-install:
    needs: [py-versions]
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        versions: ${{ fromJSON(needs.py-versions.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # setuptools-scm needs to access git tags
          ref: ${{ github.sha }}  # lock to triggered commit (github.ref is dynamic)
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.versions }}
      - run: |
          pip install --upgrade pip wheel setuptools
          pip install .

  py-tests:
    needs: [py-versions]
    runs-on: ubuntu-latest
    services:
      keycloak:
        image: ghcr.io/wipacrepo/keycloak-rest-services:test-keycloak-master
        env:
          KEYCLOAK_ADMIN: admin
          KEYCLOAK_ADMIN_PASSWORD: admin
          CMD: start-dev
        ports:
        - 8080:8080
      mongo:
        image: mongo:8.0
        ports:
        - 27017:27017
    env:
      KEYCLOAK_URL: http://localhost:8080
      USERNAME: admin
      PASSWORD: admin
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # setuptools-scm needs to access git tags
          ref: ${{ github.sha }}  # lock to triggered commit (github.ref is dynamic)
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ fromJSON(needs.py-versions.outputs.matrix)[0] }}
      - name: Setup Dependencies
        run: |
          pip install --upgrade pip wheel setuptools
          pip install .[tests]
      - name: Run Tests
        run: |
          python -m pytest tests --tb=short --log-level=INFO -v

  web-tests:
    needs: [py-versions]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # setuptools-scm needs to access git tags
          ref: ${{ github.sha }}  # lock to triggered commit (github.ref is dynamic)
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ fromJSON(needs.py-versions.outputs.matrix)[0] }}
      - name: Setup Dependencies
        run: |
          pip install --upgrade pip wheel setuptools
          pip install .
      - name: Run Tests
        run: |
          python -m user_mgmt.test_server &
          docker run --network=host -v $PWD:/e2e -w /e2e cypress/included:11.2.0


  ############################################################################
  # TAG + RELEASE
  #############################################################################

  release-version:
    if: format('refs/heads/{0}', github.event.repository.default_branch) == github.ref
    needs: [pip-install, py-tests, web-tests]
    runs-on: ubuntu-latest
    outputs:
      next-version: ${{ steps.next-version.outputs.version }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # setuptools-scm needs to access git tags
          ref: ${{ github.sha }}  # lock to triggered commit (github.ref is dynamic)
      # copied from tag-and-release
      - name: Determine next version
        uses: WIPACrepo/wipac-dev-next-version-action@v1.7
        id: next-version
        with:
          force-patch-if-no-commit-token: true
          ignore-paths: |
            **/README.md
            .github/**
            .gitignore

  tag-and-release:
    # only run on main/default
    if: format('refs/heads/{0}', github.event.repository.default_branch) == github.ref && needs.release-version.outputs.next-version != ''
    needs: [py-versions, pip-install, py-tests, web-tests, release-version]
    uses: WIPACrepo/wipac-dev-workflows/.github/workflows/tag-and-release.yml@v1.20
    permissions: # for GITHUB_TOKEN
      contents: write
    with:
      project-type: python
      python-version: "${{ fromJSON(needs.py-versions.outputs.matrix)[0] }}"
      publish-to-pypi: false

  image-publish:
    if: format('refs/heads/{0}', github.event.repository.default_branch) == github.ref && needs.release-version.outputs.next-version != ''
    needs: [
      tag-and-release,
      release-version,
    ]
    uses: WIPACrepo/wipac-dev-workflows/.github/workflows/image-publish.yml@v1.20
    permissions: # for GITHUB_TOKEN
      packages: write
    with:
      image_namespace: wipacrepo
      image_name: user-management
      mode: BUILD
      build_args: |
        SETUPTOOLS_SCM_PRETEND_VERSION=${{ needs.release-version.outputs.next-version }}
      extra_build_tag: ${{ needs.release-version.outputs.next-version }}
